extends layouts/common.pug
block content
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow
        .container
            a.navbar-brand(href='/') Gestion de Bots
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='/gestionBots')
                            | Bots
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/gestionIntents') Intents
                    li.nav-item
                        a.nav-link(href='/test') Test
                    li.nav-item
                        a.nav-link(href='#') Contact
    // Full Page Image Header with Vertically Centered Content
    header.masthead
        .container
            .row.align-items-center
                div
                    a.btn.btn-primary.mt-1(type='button', href='/gestionBots/create').mb-1#createBots Create
                    table.table.table-dark
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col')#name Name
                                th(scope='col') Status
                                th(scope='col') Last updated
                                th(scope='col') Date Created
                                th(scope='col') Actions
                                th(scope='col') Test

                        tbody
                            each bot, index in bots
                                tr
                                    th(scope='row')= index + 1
                                    td= bot.name
                                    td= bot.status
                                    td= bot.lastUpdatedDate
                                    td= bot.createdDate
                                    td
                                        form(action="/gestionBots/update/" + bot.name, method="POST")
                                            .form-group
                                                input(name="_method",type="hidden",value="PUT")
                                                button.btn.btn-primary.customButton Update
                                        form(action="/gestionBots/delete/" + bot.name, method="POST")
                                            .form-group
                                                input(name="_method",type="hidden",value="DELETE")
                                                button.btn.btn-primary.customButton Delete        
                                    td 
                                        a.btn.btn-warning(href='https://lex-test-website.s3.amazonaws.com/LexCodeToInsert.zip') Download
