extends layouts/common.pug
block content
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow
        .container
            a.navbar-brand(href='/dashboard') Gestion de Bots
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='/bots')
                            | Bots
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/intents') Intents
                    li.nav-item
                        a.nav-link(href='/test') Test
                    li.nav-item
                        a.nav-link(href='#') Contact
    // Full Page Image Header with Vertically Centered Content
    header.masthead
        .container.h-100
            .row.h-100.align-items-center
                div
                    a.btn.btn-primary.mt-1(type='button', href='/bots/create').mb-1#createBots Create
                    table.table.table-dark
                        thead
                            tr
                                th(scope='col') #
                                th(scope='col')#name Name
                                th(scope='col') Status
                                th(scope='col') Last updated
                                th(scope='col') Date Created
                                th(scope='col') Actions

                        tbody
                            each bot, index in bots
                                tr
                                    th(scope='row')= index + 1
                                    td= bot.name
                                    td= bot.status
                                    td= bot.lastUpdatedDate
                                    td= bot.createdDate
                                    td
                                      .row
                                        .col-12
                                          form(action="/bots/update", method="GET")
                                            input#inputNomBot.form-control(name='nom', type='hidden',value=bot.name)
                                            button(type='submit') Modify
                                        .col-12
                                          form(action="/bots/delete", method="GET")
                                            input#inputNomBot.form-control(name='nom', type='hidden',value=bot.name)
                                            button(type='submit') Delete
